
<ion-segment class="footer-icons" color="primary" [(ngModel)]="segments">
    <ion-segment-button  value="HomePage" (click)="openPage('HomePage')">  <img src="assets/imgs/places.png" width="21" height="21"/>
	<ion-label class="top-m-zero">Places</ion-label>
	
	</ion-segment-button>
	
	<ion-segment-button value="EventsPage" (click)="openPage('EventsPage')"> <img src="assets/imgs/events.png" width="21" height="21"/> <ion-label class="top-m-zero">Events</ion-label> </ion-segment-button><!-- {{ 'settings' | translate }} -->
	
	<ion-segment-button value="NewsPage" (click)="openPage('NewsPage')"><img src="assets/imgs/news.png" width="21" height="21"/> 
	<ion-label class="top-m-zero">News</ion-label>
	</ion-segment-button><!-- {{ 'News' | translate }} -->
	
    
	
    <ion-segment-button value="GroupsPage" (click)="openPage('GroupsPage')"> <img src="assets/imgs/groups.png" width="21" height="21"/> <ion-label class="top-m-zero">Groups</ion-label></ion-segment-button>
	
	<!-- <ion-segment-button value="ContactUsPage" (click)="openPage('ContactUsPage')"><ion-icon name="call"></ion-icon> </ion-segment-button> --><!-- {{ 'Categories' | translate }} -->
    


  